<!DOCTYPE html>
<html>

<head>
    <title>Vue tutorial</title>
</head>

<body>
    <div id="app">
        {{ message }}
    </div>
    <div id="app2">
        <span id="span2" v-bind:title="message">
            마우스를 올려보세요.
        </span>
    </div>
    <div id="app4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
    <div id="app5">
        <p> {{ message }} </p>
        <button v-on:click="reverseMessage">메시지 뒤집기</button>
    </div>
    <div id="app7">
        <ol>
            <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id"
                >

            </todo-item>
        </ol>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="dist/bundle.js"></script>
</body>

</html>